*{
    margin: 0px;
    padding: 0px;
 
}
.header{
    background-color:cornsilk;
    background-image: url('../banner2.png');
    background-repeat: no-repeat;
    
}
.BanHeading{
    padding: 210px 20px 10px 650px ;
    text-align: right;
    color: black;
    font-size: 65px;
    font-weight: 700;
    width:600px;
   
}
.BanDescription{
    padding: 0px 20px 10px 850px ;
    font-size: 20px;
    color: #0c0b0b;
    text-align: right;
    width: 400px;
}
.BanBtn{
    margin: 10px 20px 150px 1120px   ;
    font-size:large;
    color: white;
    background-color: darkgreen;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 5px 5px 8px 5px #353535;
}

/* Header part done and body part starts from here */

.body-content{
    
    background-color:white;
    display: flex;

}
.bodyTittle{
    padding: 250px 30px 5px 50px ;
    text-align: left;
    font-size: 50px;
    font-weight: 700;
    width: 288px;
}
.bodyDescription{
    
    font-size: 20px;
    text-align: left;
    padding: 15px 30px 10px 50px ;
    width: 480px;
    color: black;
    font-weight: 400;
    
}
.singleList{
    color: black;
    font-weight: 400;
    font-size: 20px;
    padding: 0px 30px 100px 70px ;

}
.li{
    padding: 5px;
}
.child1{

    padding: 0 0 0 130px;

}
/* section1 ends here and section2 starts from here */

.planHeading{
    padding: 85px 0 0 0;
    text-align: center;
    font-size: 45px;
}

.planSet{
    display: flex;

}
.planItem1{
    padding: 50px 0px 100px 350px;
}
.planItem2{
    padding: 50px 10px 100px 80px;
}
.planItem3{
    padding: 50px 0px 100px 80px;
}
.planItem4{
    padding: 50px 0px 100px 80px;
}

.callNow{
     
    background-image: url('../watch.png');
    background-repeat: no-repeat;
    background-position: top;
    

}
.des{
    color: rgb(8, 8, 8);
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    width: 400px;
    padding: 90px 0px 0 250px ;


}
.call{
    font-size: large;
    border: 0;
    border-radius: 10px;
    color: rgb(3, 3, 3);
    background-color: darkgreen;
    padding: 10px 20px;
    margin: 10px 0px 70px 248px ;
    


}
